body{
    background-color: aqua;
}
.nav ul{
    width: fit-content;
    background-color: black;
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction:row;
    justify-content: center;
    gap: 10px;
    padding: .5rem 1rem;
    margin: 0 auto;
    border-radius: 2rem;
}
.nav ul li {
    color: white;
    background-color: greenyellow;
   /* margin: 2em;*/
    font-size: 2 rem;
    border-radius: 1rem;
}
.card{
    display: flex;
}
.img-camp{
    width: 300px;
    float: left;
}
.texto-lorem{
    font-size: 3rem;
}
.footer {
    background-color: yellow;
    border: 10px solid black;
    
}
.ul{
    display: flex;
    flex-direction:row;
    justify-content: right;
    gap: 20px;
}
.p{
    display: flex;
    flex-direction:column;
    justify-content: left;
}